* {
    margin: 0;
    padding: 0;
}

#container {
    background-color: #fcf6ef;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 1fr para cada coluna */
    grid-template-rows: 1fr 1fr;
}

.caixa {
    width: 140px;
    height: 140px;
    background-color: blueviolet;
    border: solid 6px black;
}


@media (max-width: 768) {
    .caixa {
        width: 80px;
        height: 80px;
    }
}